.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Joinbtn {
  color: white;
  background-color:crimson;
  box-sizing: border-box;
  width: 25vw;
  transition: all 0.3s;
  cursor: pointer
}
#Joinbtn:hover {
  /* background-color: rgb(143, 27, 50); */
  background-color: rgb(112, 4, 25);
}

#sendbtn {
  width: 20%;
  height: 90%;
  background-color: crimson;
  position: sticky;
  margin-top: 5px;
}
#sendbtn:hover {
  background-color: rgb(124, 5, 29);
  cursor: pointer;
}

#sendbtn>img {
  width: 30px;
  transition: all 0.3s;
}
#sendbtn:hover>img {
  filter: brightness(100) invert() ;
  transform: translateX(15px);
}